@charset "UTF-8";

.jumbotron {
    margin-bottom: 0;
}

.page-header {
    background-color: #ff9400;
}

.page-header h1, .page-header a, .page-header a:visited, .page-header a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

.content{
    font-size: 16pt;
}

.nav{
    font-size: 20pt;
    font-family: 'Lobster', cursive;
}

.dropdown-item{
    font-size: 20px;
}

.font-lobster{
   font-family: 'Lobster', cursive;
}

.page_title, .analysis_base h2{
    font-family: 'Lobster', cursive;
}

.post{
    padding-right: 20px;
    padding-left: 20px;
}

.post li {
    list-style-type: none;
    padding-right: 30px;
}
.post ul {
    margin: 0 0 0 0;
    padding: 10px 10px 0 20px;
}
.post a:link, .post a:visited, .post a:hover, .post a:active {
    color: #3c454d;
    text-decoration: none;
}
.date {
    font-size: 10pt;
}

.post_title{
    font-size: 16pt;
    padding-left: 15pt;
}

.analysis_menu h2{
    padding-left: 5pt;
}

.analysis_menu h3, .link h3{
    padding-left: 10pt;
}

.double{
    border-bottom: double 6px gray;
}

.modal-body{
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
}

.img-result img {
    width: 80%;
}

.icon-col{
    color: #007bff;
}

/*footer*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

.footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.footer .container .text-muted {
    margin: 10px 0;
}

/*file input*/

.custom-file {
    max-width: 20rem;
    overflow: hidden;
}
.custom-file-label {
    white-space: nowrap;
}