{% extends 'analysis/analysis_base.html' %}
{% load bootstrap4 %}

{% block title %}
    <ul class="list-inline">
        <li class="list-inline-item">
            Pole figure -overplot-
        </li>
        <li class="list-inline-item">
            <button type="button" class="btn" data-toggle="modal" data-target="#polover"><i class="fas fa-info-circle fa-2x icon-col"></i></button>
            <div class="modal fade" id="polover" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="polover">Pole figure -overplot-</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                Create overplot pole figure of two crystal pole figures<br>
                                Input data: <br>
                                ND and RD of crystal obtained from "OIM analysis"
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}

{% block input %}
<form action="" method="post">
{% csrf_token %}
    1st EBSD<br>
    <div class="form-row flex-column flex-sm-row">
        ND&nbsp;&nbsp;&nbsp;{% bootstrap_form nd_form1 layout='inline' size='small' %}<br>
    </div>
    <div class="form-row flex-column flex-sm-row">
        RD&nbsp;&nbsp;&nbsp;{% bootstrap_form rd_form1 layout='inline' size='small' %}<br>
    </div>
    2nd EBSD<br>
    <div class="form-row flex-column flex-sm-row">
        ND&nbsp;&nbsp;&nbsp;{% bootstrap_form nd_form2 layout='inline' size='small' %}<br>
    </div>
    <div class="form-row flex-column flex-sm-row">
        RD&nbsp;&nbsp;&nbsp;{% bootstrap_form rd_form2 layout='inline' size='small' %}<br>
    </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block result %}
    <section>
        1st(RED)<br>
        ND{{ nd1 }}
        RD{{ rd1 }}<br>
        2nd(BLUE)<br>
        ND{{ nd2 }}
        RD{{ rd2 }}<br>
    </section>
    <section class="img-result">
        <img src="{% url 'analysis:img_pole_overplot' %}" alt="">
    </section>
{% endblock %}