{% extends 'base.html' %}

{% block content %}
    <div class="mt-4">
        <div class="page_title">
            <h1>About</h1>
        </div>
        <div class="about_content">
            In Adachi laboratory, We are developing various MI tools.<br>
            MIPHA(<a class="text-primary">M</a>aterials genome <a class="text-primary">I</a>ntegration system for <a class="text-primary">PH</a>ase and property <a class="text-primary">A</a>nalysis)
            is one of them and can perform various analysis.<br>
            There are various versions of MIPHA such as original MIPHA, rMIPHA, and shinyMIPHA.<br>
            This pMIPHA -Crystallography version- is an analysis site that mainly performs "Crystallography Analysis".<br>

        </div>
    </div>
{% endblock %}